// .bg-vid {
// 	display: block;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	z-index: -1;
// }

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../../img/concrete.png");
	overflow: hidden;
}

#wrapper{
	overflow: hidden;
}
.male {
	left: 0;
	background: url("../../img/man.png") no-repeat center center;
	background-size: cover;
	
}

.female {
	right: 0;
	background: url("../../img/kvinna.png") no-repeat center center;
	background-size: cover;
}

.gender {
	top: 0;
	margin: 0;
	width: 50%;
	height: 100%;
	position: absolute;
	transition: all 1s;
	z-index: 1;
	
}


.product-slider{
	width: 65%;
	float: left;
	outline: 1px solid red;
	.product-link{
		display: block;
		width: 33%;
		height: 200px;
		img{
			width: 100%;

		}
	}
}
.sidebar{
	width: 35%;
	float: left;
	outline: 1px solid green;
}
.categories-menu{
	left: 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	outline: 1px solid orange;
	clear: both;
	background: white;

	//TEST
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
	ul {
		margin: 0;
		padding: 20px;
		height: 20px;
		#shirt {
			list-style-image: url("../../img/icons/shirt.png")no-repeat top left;
		}
	}

	li {
		display: inline-block;
		vertical-align: top;
		zoom: 1;
		
	}

	.stretch {
		width: 100%;
		display: inline-block;
		font-size: 0;
		line-height: 0
	}
}